* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-sizing: border-box;
  width: 100%;
  -webkit-box-shadow: 0px 1px 8px -5px #000000; 
  box-shadow: 0px 1px 8px -5px #000000;
}

header .logo {
  height: 70px;
  width: auto;
}

header .shopping-card {
  height: 40px;
  fill: #777;
}

.sidebar {
  min-height: 100vh;
  -webkit-box-shadow: 0px 1px 8px -5px #000000; 
  box-shadow: 0px 1px 8px -5px #000000;
  position: absolute;
  padding: 16px;
  width: 220px;
}

.sidebar ul {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 14px;
}

.sidebar .buy li.help {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.sidebar ul li {
  padding: 24px 0;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #777;
  padding-right: 16px;
}

.sidebar .buy li .sidebar-icon {
  height: 24px;
  fill: #777;
  margin-right: 8px;
}

.sidebar .secondary-menu {
  border-bottom: 1px solid #aaa;
}

.sidebar .secondary-menu li {
  font-size: 10px;
  padding: 12px 0;
}

.sidebar .copyright {
  font-size: 10px;
  color: #777;
  padding-top: 12px;
}

.main {
  padding: 24px 50px;
  padding-left: 270px;
}

.main .searchbar {
  display: block;
  margin-left: calc(100% - 460px);
  margin-bottom: 24px;
}

.main .searchbar input {
  display: inline-block;
  line-height: 20px;    
  border-radius: 8px;
  height: 36px; 
  vertical-align:middle;
  padding: 12px 20px;
}

.main .searchbar .textbox {
  border: 1px solid lightgrey;
  width: 460px;
  box-shadow: 0px 1px 8px -5px #999;
 }

 .main .searchbar .textbox:focus {
  outline: #888;
 }

.main .searchbar .submit-button {
  background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png");
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  width: 35px;
  background-position: 5px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: transparent;
  margin-left:-35px;
  border:none;
  border-left: 1px solid #999;
  border-radius: 0;
  padding: 0;
  height: auto;
}

.main .carousel {
  overflow: hidden;
  padding: 24px 0;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 8px -5px #000000; 
  box-shadow: 0px 1px 8px -5px #000000;
  position: relative;
  margin-bottom: 48px;
}

.main .carousel .inner-div {
  white-space: nowrap;
  transition: transform .3s;
}

.main .carousel.products {
  position: relative;
}

.main .carousel.products:before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #FFF;
  width: 48px;
  border-radius: 8px;
  top: 0;
  left: 0;
  z-index: 2;
}

.main .carousel.products:after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #FFF;
  width: 48px;
  border-radius: 8px;
  top: 0;
  right: 0;
  z-index: 2;
}

.main .carousel.products .inner-div {
  display: flex;
  padding: 0 48px;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  min-height: 50vh;
  background-color: green;
  color: #fff;
  margin: 0 24px;
  border-radius: 4px;
}

.carousel.products .product-item:first-of-type {
  margin-left: 36px;
}

.carousel.products .product-item {
  padding: 16px;
  margin: 0 16px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 8px -5px #000000; 
  box-shadow: 0px 1px 8px -5px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.carousel.products .product-item img {
  width: 80%;
  margin: 0 auto 16px;
  display: block;
}

.carousel.products .product-item h3 {
  font-size: 14px;
  font-weight: normal;
  color: #777;
  text-transform: uppercase;
  white-space: pre-wrap;
  text-align: center;
  margin-bottom: 6px;
}

.carousel.products .product-item .price {
  font-size: 12px;
  text-align: center;
  color: #777;
  margin-bottom: 16px;
}

.carousel.products .product-item .more {
  color: #fff;
  font-size: 14px;
  padding: 8px;
  background-color: #000000;
  border-radius: 2px;
  display: inline-block;
  margin: 0 auto;
}

.carousel .arrows .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  z-index: 3;
}

.carousel .arrows .next {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  z-index: 3;
}

.carousel .arrows .nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 16px;
}

.categories {
  padding: 24px 0;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 8px -5px #000000; 
  box-shadow: 0px 1px 8px -5px #000000;
  margin-bottom: 48px;
}

.categories h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.categories .categories-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 16px;
}

.categories .categories-items .categories-item {
  width: 180px;
  margin: 8px;
}

.categories .categories-items .categories-item img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.categories .categories-items .categories-item h3 {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #777;
}

.categories .view-all {
  margin: 0 auto;
  display: block;
  background: transparent;
  border: none;
  font-size: 12px;
  color: #777;
  position: relative;
}

.categories .view-all:after {
  content: "⌄";
  font-size: 20px;
  position: absolute;
  right: -17px;
  top: -15px;
}



